<body class="bg-black">
  <div class="container justify-content-center">
    <div class="row text-center" id="book-home">
      <div id='book-title'>
        <h1 id="book-title-text">Witcher Bestiary</h1>
      </div>
      <%= image_tag("index/witcher-logo-index.jpg", alt: "witcher-logo") %>
    </div>
  </div>
</body>

